.best {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    position: relative;
    top: 20px;
    margin-bottom: 40px;
    width: 50%;
    background-color: $box-bg;
    > h1 {
        font-size: 2em;
        color: $box-border;
    }  
    &__details {
        position:relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__text {
            > div  {
            padding-left: 20px;
            font-size: 1.5rem;
            color: $body-light;
            padding-bottom: 20px;
            }
        }
        &__img {
            width: 20%;
            min-width: 182px;
            max-height: 268px;
        }        
        &__button{
            text-align: center;
            padding-top: 8px;         
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background-color: $box-border;
            color: $box-bg;
            position:absolute;
            right: 22%;
            top: 25px;
            &:hover{
                background-color: $text-hover;
                color:$body-dark;
                transition: 0.3s;
            }
        }  
    }
}

@media all and (max-width:1730px) {
    .best {
        width: 70%;
    }
}

@media all and (max-width:1240px) {
    .best {
        width: 90%;
        &__details {
            &__button {
                right: 200px;
            }
            &__text {
                > div  {
                font-size: 1.4rem;
                }
            }  
        }        
    }
}

@media all and (max-width:900px) {
    .best {
        > h1 {
            font-size: 1.3em;
        }
        &__details {
            &__text {
                > div  {
                font-size: 1.2rem;
                }
            }  
        } 
    }
}