html > .carousel, body > .carousel {
    padding-top: 0px;
  }

.carousel {
    width: 71%;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
    > p {
        font-size: 1.5em;
        font-weight: bold;
        width: 100%;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        color: $box-border;
        user-select: none;
    }
    &__nav {  
        display:flex;
        justify-content: center;
        &__prev h1, &__next h1 {
            width: 300px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 80px;
            font-weight: bold;
            color: $box-border;
            cursor: pointer;
            transition: transform 0.25s ease;
            &:hover {
                color: $text-hover;
                transform: scale(1.25);
            }
        }
    }
    &__slider {
        display: flex;
        justify-content: space-between; 
        transition: transform 1s ease-in-out;
        &__item {
            background-color: $box-bg;
            & h1 {
                font-size: 5em;
                width: 100%;
                color: $box-border;
            }
            & img {
                width: 100%;
                height: 100%;
                margin: auto
            }
        }
    }
}