
html, body {
    background: $body-light;
    background: -moz-radial-gradient(circle, $body-light 50%, $body-dark 100%);
    background: -webkit-radial-gradient(circle, $body-light 50%, $body-dark 100%);
    background: radial-gradient(circle, $body-light 10%, $body-dark 100%);
  }

