html, body {
  background: #f8f8f8;
  background: -moz-radial-gradient(circle, #f8f8f8 50%, #b9cad8 100%);
  background: -webkit-radial-gradient(circle, #f8f8f8 50%, #b9cad8 100%);
  background: radial-gradient(circle, #f8f8f8 10%, #b9cad8 100%);
}

html *, body * {
  font-family: "Montserrat", sans-serif;
  color: var(#1489b8);
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
}
.header__logo {
  font-size: 7rem;
  color: #115a79;
  margin-left: 50px;
}

.nav {
  padding-right: 50px;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #1489b8;
}
.nav__link a:hover {
  color: #115a79;
}

.best {
  padding-top: 200px;
  display: flex;
  margin: auto;
  align-items: center;
  width: 80%;
}
.best__img {
  width: 30%;
  height: auto;
}
html > .carousel, body > .carousel {
  padding-top: 0px;
}

.carousel {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.carousel > p {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #1489b8;
  user-select: none;
}
.carousel__nav {
  display: flex;
  justify-content: center;
}
.carousel__nav__prev h1, .carousel__nav__next h1 {
  width: 300px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: bold;
  color: #1489b8;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.carousel__nav__prev h1:hover, .carousel__nav__next h1:hover {
  color: #115a79;
  transform: scale(1.25);
}
.carousel__slider {
  display: flex;
  transition: transform 1s ease-in-out;
}
.carousel__slider__item {
  margin: auto;
  height: 100%;
  text-align: center;
  border-color: #1489b8;
  background: #1e272e;
  border-width: 3px;
  border-style: solid;
}
.carousel__slider__item h1 {
  font-size: 5em;
  width: 100%;
  color: #1489b8;
}
.carousel__slider__item img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 80px;
  color: #1489b8;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}
.modal__close:hover {
  color: #115a79;
  text-decoration: none;
  cursor: pointer;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.modal__content__img {
  width: 80%;
}
.modal__content__img img {
  width: 100%;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal__content__text {
  width: 80%;
  height: 100px;
  color: #b9cad8;
  background-color: #1e272e;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1024px) {
  .modal__content {
    max-height: 80%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
