html, body {
  background: #fafdfe;
  background: -moz-radial-gradient(circle, #fafdfe 50%, #b9cad8 100%);
  background: -webkit-radial-gradient(circle, #fafdfe 50%, #b9cad8 100%);
  background: radial-gradient(circle, #fafdfe 10%, #b9cad8 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html *, body * {
  font-family: "Montserrat", sans-serif;
  color: #fafdfe;
  /*font-size: 100%;*/
}

.header {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fafdfe;
}
.header__title {
  font-size: 5em;
  flex: 2;
  color: #115a79;
  margin-left: 50px;
}
.header__logo img {
  width: 200px;
}
.header__nav {
  padding-right: 50px;
  text-align: right;
}
.header__nav__link {
  display: inline;
  font-size: 2em;
  padding-left: 1.5em;
}
.header__nav__link a {
  text-decoration: none;
  color: #1489b8;
}
.header__nav__link a:hover {
  color: #115a79;
}

@media all and (max-width: 1024px) {
  .header__title {
    font-size: 3em;
    margin-left: 20px;
  }
  .header__logo img {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .header__title {
    font-size: 2em;
  }
  .header__nav__link {
    font-size: 1.5em;
  }
}
.best {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  width: 50%;
  background-color: #1e272e;
}
.best > h1 {
  font-size: 2em;
  color: #1489b8;
}
.best__details {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.best__details__text > div {
  padding-left: 20px;
  font-size: 1.5rem;
  color: #fafdfe;
  padding-bottom: 20px;
}
.best__details__img {
  width: 20%;
  min-width: 182px;
  max-height: 268px;
}
.best__details__button {
  text-align: center;
  padding-top: 8px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #1489b8;
  color: #1e272e;
  position: absolute;
  right: 22%;
  top: 25px;
}
.best__details__button:hover {
  background-color: #115a79;
  color: #b9cad8;
  transition: 0.3s;
}

@media all and (max-width: 1730px) {
  .best {
    width: 70%;
  }
}
@media all and (max-width: 1240px) {
  .best {
    width: 90%;
  }
  .best__details__button {
    right: 200px;
  }
  .best__details__text > div {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 900px) {
  .best > h1 {
    font-size: 1.3em;
  }
  .best__details__text > div {
    font-size: 1.2rem;
  }
}
html > .carousel, body > .carousel {
  padding-top: 0px;
}

.carousel {
  width: 71%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.carousel > p {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #1489b8;
  user-select: none;
}
.carousel__nav {
  display: flex;
  justify-content: center;
}
.carousel__nav__prev h1, .carousel__nav__next h1 {
  width: 300px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: bold;
  color: #1489b8;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.carousel__nav__prev h1:hover, .carousel__nav__next h1:hover {
  color: #115a79;
  transform: scale(1.25);
}
.carousel__slider {
  display: flex;
  justify-content: space-between;
  transition: transform 1s ease-in-out;
}
.carousel__slider__item {
  background-color: #1e272e;
}
.carousel__slider__item img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.9);
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 80px;
  color: #1489b8;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}
.modal__close:hover {
  color: #115a79;
  text-decoration: none;
  cursor: pointer;
}
.modal__content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  background-color: #1e272e;
}
.modal__content > div {
  padding-left: 20px;
  font-size: 1.2em;
  color: #fafdfe;
}
.modal__content > div h1 {
  color: #1489b8;
}
.modal__content > div p > mark {
  background-color: transparent;
  color: #b9cad8;
}
.modal__content__court {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.modal__content__court__text {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.modal__content__court__img img {
  height: 400px;
  padding-right: 20px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1700px) {
  .modal__content {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .modal__content {
    width: 90%;
  }
  .modal__content > div {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=style.css.map */
